/*
Version: 1.1
Last edited by: Natalia Pakhomova
Last edit date: 03/06/2024
Base variables for the project
*/

// Light mode colors
$light-primary-color: #B20000;
$light-secondary-color: #FEF4C0;
$light-tertiary-color: #FD292F;
$light-background-start: #D6DBDC;
$light-background-end: #FFFFFF;
$light-foreground: #000000;
$light-sidebar-bg: #B20000;
$light-sidebar-text: #ffffff;

// Dark mode colors
$dark-primary-color: #1F2937;
$dark-secondary-color: #F5E1A4;
$dark-tertiary-color: #E57373;
$dark-background-start: #000000;
$dark-background-end: #9CA3AF;
$dark-foreground: #FFFFFF;
$dark-sidebar-bg: #1F2937;
$dark-sidebar-text: #f8f9fa;

// Declare all the variables here
$primary-color: #B20000;
$secondary-color: #FEF4C0;
$tertiary-color: #FD292F;
$border-color: #f4f4f4;
$border-radius: 0.25rem;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$transition: all 0.3s ease;
$white: #ffffff;
$black: #000;
$font-size: 1rem;
$font-family: 'Roboto', sans-serif;
$line-height: 1.5;
$spacing: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 1rem;
$spacing-4: 1.5rem;
$spacing-5: 3rem;
$spacing-6: 4rem;
