@use "../abstracts/index" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #{$light-foreground};
  --background-start-rgb: #{$light-background-start};
  --background-end-rgb: #{$light-background-end};
  --primary-color: #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --tertiary-color: #{$light-tertiary-color};
  --sidebar-bg: #{$light-sidebar-bg};
  --sidebar-text: #{$light-sidebar-text};
  --dark-foreground-rgb: #{$dark-foreground};
  --dark-background-start-rgb: #{$dark-background-start};
  --dark-background-end-rgb: #{$dark-background-end};
  --dark-primary-color: #{$dark-primary-color};
  --dark-secondary-color: #{$dark-secondary-color};
  --dark-tertiary-color: #{$dark-tertiary-color};
  --dark-sidebar-bg: #{$dark-sidebar-bg};
  --dark-sidebar-text: #{$dark-sidebar-text};
}

body {
  background-color: var(--background-end-rgb);
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: var(--foreground-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
