@use "abstracts/index" as *;
@use "base/base";
@use "base/sidebar";

.quill {
    display: flex;
    flex-direction: column;
    .ql-container {
        flex: 1 1 auto;
        height: auto;
        flex-grow: 1;
        overflow: auto;
    }
}